{{define "footer"}}
<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
    </div>
</div>
{{end}}
{{define "scripts"}}
<!-- Mainly scripts -->
<script src="../public/js/jquery-3.1.1.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../public/js/inspinia.js"></script>
<script src="../public/js/plugins/pace/pace.min.js"></script>
<script src="../public/js/custom.js"></script>
{{end}}